div#gomb a{
    color: white;
    display: inline-block;
    width: 145px;
    height: 33px;
    background-repeat: no-repeat;
    text-decoration: none;
    font-family: absender1, monospace;
    font-size: 21.2px;
    font-weight: bold;
    background-color: gray;
    border: black 3px solid;
    border-radius: 60px;
    text-align: center;
    box-shadow: black 3px 2px 3px 1px;
    
    
    
}
div{
    padding: 10px;
}
body.kezdolap{
    background-image: url("../kepek1/kezdolap.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 768px;
}
p{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    width: 50%;
    font-size: 20px;
    letter-spacing: 1px;
}
h1{
    text-align: center;


}

  